body {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  border: solid 1px gainsboro;
}

.container > * {
  width: 50%;
}

.graybackground {
  background: #4e4e4e;
}

.toolbar {
  width: 100%;
  height: 50px;
  background: white;
}

.pages {
  width: 100%;
  height: 94%;
  padding: 11px 5px;
  box-sizing: border-box;
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.page {
  width: 611px;
  height: 791px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
}

iframe {
  width: 100%;
  height: 100vh;
}
