body {
  margin: 0px;
}

.handle {
  border: solid 1px;
  width: 10px;
  height: 10px;
  position: absolute;
  background: gray;
}

.handle-top {
  top: -5px;
  left: calc(50% - 5px);
  cursor: ns-resize;
}

.handle-right {
  top: calc(50% - 5px);
  left: calc(100% - 5px);
  cursor: ew-resize;
}

.handle-left {
  top: calc(50% - 5px);
  left: -5px;
  cursor: ew-resize;
}

.handle-bottom {
  top: calc(100% - 5px);
  left: calc(50% - 5px);
  cursor: ns-resize;
}

.hoverborder {
  border: solid 1px transparent;
}

.hoverborder:hover {
  border: solid 1px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  border: solid 1px gainsboro;
}

.container > * {
  width: 50%;
}

.graybackground {
  background: #4e4e4e;
}

.textblock {
  font-family: Helvetica;
}

.textblock .cursor {
  border: solid 1px;
  margin-left: 1px;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }
}

.rect .rect-controls,
.textblock .text-controls {
  position: absolute;
  top: -33px;
  background: #353535;
  color: white;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.rect .rect-controls > *,
.textblock .text-controls > * {
  margin: 0px 5px;
}

.toolbar {
  height: 50px;
  background: #353535;
  display: flex;
  align-items: center;
  padding: 0px 25px;
}

.toolbar > span {
  color: white;
  padding: 0px 9px;
  height: 35px;
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  align-items: center;
  min-width: 20px;
  justify-content: center;
}

.toolbar > span:hover {
  background: #cccccc3b;
}

.toolbar > span:active {
  background: #a9a9a93b;
}

.toolbar > .fa {
  font-size: 13px;
}

.text {
  font-family: Helvetica;
}

.pages {
  width: 100%;
  height: 94%;
  padding: 11px 5px;
  box-sizing: border-box;
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.page {
  width: 611px;
  height: 791px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  position: relative;
}

.render {
  position: relative;
}

iframe {
  width: 100%;
  height: 100vh;
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: black;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
